/*The MIT License
 *
 * Copyright (C) 2016,2017 Dmytro Kalchenko <dmytro.v.kalcheno@gmail.com>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 */


.distract-off-warning-all
{
	font-family: 'Roboto', sans-serif !important;

	padding: 0 !important;
	margin: 0 !important;
}

.distract-off-warning-h1, .distract-off-warning-h2
{
	text-decoration: none !important;
}

.distract-off-warning-h1
{
	font-weight: bold !important;
	font-size: 28pt !important;

	background-color: #2c2c2c !important;
	color: #fafafa !important;;

	padding: 20px 0px !important;
}

.distract-off-warning-h2
{
	font-weight: normal !important;
	font-size: 21pt !important;

	margin: 10px 0px 40px 0px !important;
}

.distract-off-warning-container
{
	background-color: #fafafa !important;
	color: #2c2c2c !important;

	margin: 0 !important;
	padding: 0 !important;

	position: fixed !important;
	left: 0 !important;
	top: 0 !important;

	width: 100vw !important;
	height: 100vh !important;

	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}

.distract-off-warning-content
{
	text-align: center !important;
}

.distract-off-btn
{
	border: 1px solid #ccc !important;
	border-radius: 5px !important;

	background-color: #fafafa !important;
	color: #2c2c2c !important;

	padding: 8px 15px !important;

	font-size: 18pt !important;
}

.distract-off-btn-disabled
{
	background-color: #eaeaea !important;
	color: #fafafa !important;
}

.distract-off-btn:focus
{
	outline: none !important;
}

.distract-off-btn:hover
{
	background-color: #efefef !important;
}

.distract-off-btn:active
{
	border-color: #2c2c2c !important;
	background-color: #dfdfdf !important;
}

.distract-off-btn-primary
{
	background-color: #2c2c2c !important;
	color: #fafafa !important;
}

.distract-off-btn-primary:hover
{
	background-color: #5c5c5c !important;
	color: #fafafa !important;
}


.distract-off-btn-primary:active
{
	background-color: #1a1a1a !important;
}

.distract-off-warning-copyright
{
	text-align: center !important;
	color: #cfcfcf !important;
	font-style: italic !important;
}

.distract-off-footer-container
{
	z-index: -100 !important;

	position: fixed !important;
	left: 0 !important;
	top: 0 !important;

	width: 100vw !important;
	min-height: 100vh !important;
	height: 100vh !important;

	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
}

.distract-off-footer
{
	flex: 1 !important;
	align-self: flex-end !important;
}
