*
{
	font-family: 'Roboto', sans-serif;

	padding: 0;
	margin: 0;
}

body
{
	color: #2c2c2c;
	font-size: 15px;
}

*:focus
{
	outline: none;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.5em;
}

header
{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;

	overflow: hidden;

	padding-top: 1em;


	background-color: #2c2c2c;
	color: #fafafa;
}

.title
{
	float: left;
	display: inline-block;

	margin-left: 1em;
}

.header-link-container
{
	display: inline-block;
	float: right;
}

.header-link
{
	display: inline-block;

	font-size: 1.5em;
	font-weight: normal;
	text-align: center;

	height: 2.5em;

	color: #fafafa;
	background-color: #2c2c2c;

	text-decoration: none;

	margin: 0;
	padding: 0;
	margin-right: 1em;
}

.header-link:hover
{
	color: #fafafa;
	text-decoration: none;
}

a
{
	color: #2c2c2c;
	font-weight: bold;
}

a:hover
{
	color: #ac2c2c;
}

p
{
	margin: 2em 0em;
}

#landing-container
{
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	color: #FFFFFF;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ecc71+0,03a678+100 */
	background: #2ecc71; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #2ecc71 0%, #03a678 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #2ecc71 0%,#03a678 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #2ecc71 0%,#03a678 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, 				Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ecc71', endColorstr='#03a678',GradientType=1 ); /* 				IE6-9 fallback on horizontal gradient */
}

#landing-content
{
	text-align: center;
}

#landing-title
{
	font-size: 3.5em;
}

#landing-sub-title
{
	font-weight: normal;
	font-size: 2em;
}

#landing-buttons
{
	margin-top: 2em;
}

#landing-about
{
	align-self: center;
	text-align: center;

	font-size: 1.4em;
}

#landing-about a
{
	text-decoration: none;
	color: #fafafa;
}

#landing-about a:hover
{
	text-decoration: none;
	color: #fafafa;
}

#about-container
{
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	color: #2c2c2c;
	background: #fafafa;
}

#about-content
{
	width: 45em;

	align-self: center;
	text-align: justify;

	font-size: 1.35em;
}

#about-home
{
	align-self: center;
	text-align: center;

	font-size: 1.4em;
}

input, textarea, button, select
{
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #ffffff;
}

select
{
	padding: 8px 15px;
}

select:hover
{
	border-color: #2c2c2c;
}

button
{
	background-color: #fafafa;
	color: #2c2c2c;

	padding: 8px 15px;

	cursor: pointer;
}

button:hover
{
	background-color: #efefef;
}

button:active
{
	background-color: #dfdfdf;
}

.btn-img
{
	display: inline-block;
	float: left;

	height: 32px;
}

.btn-text
{
	display: inline-block;
	float: right;

	font-size: 1.15em;

	padding-top: 0.4em;
	padding-left: 1em;
}

.btn-primary
{
	background-color: #2c2c2c;
	color: #fafafa;
}

.btn-primary:hover
{
	background-color: #5c5c5c;
	color: #fafafa;
}


.btn-primary:active
{
	background-color: #1a1a1a;
}

.btn-donate
{
	padding: 8px 15px;

	border-color: #FFDC2B;
	background-color: #FFDC2B;
	color: #9E7913;
}

.btn-donate:hover
{
	border-color: #FFDC2B;
	background-color: #F5D329;
	color: #9E7913;
}


.btn-donate:active
{
	border-color: #FFDC2B;
	background-color: #FFAD1E;
	color: #9E7913;
}
